body{
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

.tabs-container{
    border: 2px solid black;
    border-radius: 15px;
    width: 780px;
    height: 400px;
    padding: 0px;    
}

.tabs{
    display: flex;
    gap: 20px;
    list-style-type: none;
    font-size: 18px;
}

.tabs .active {
    border-bottom: 2px solid black;
    color: #000 !important;
}

.tabs li {
    color: grey;
    cursor: pointer;
}

.tabs-content .content {
    display: none;
    margin-left: 35px;
}

.content :nth-child(2){
    margin: 50px 0px 100px 0px;
    border: 1px solid black;
    border-radius: 15px;
    height: 100px;
    width: 700px;
    text-align: center;
    font-size: 20px;
    padding-top: 60px;
    background-color: #000;
    color: #fff;
}

.content :nth-child(3){
    margin-top: -70px;
    font-size: 15px;
    font-weight: bold;
}

.tabs-content .active {
    display: block;
}
